html{
    font-size: 22px;
    padding: 40px;
}
body{
    background-color: black; 
    font-family: 'Times New Roman', Times, serif;
    color: beige;
    margin-left: 70px; /*add space for the vertical line*/
    padding: auto;
}
a{
    color:darkcyan
}
a:visited{
    color:brown
}
a:hover, a:active{
    color: #eee;
}
.margin-line {
  position: fixed;
  top: 0;
  left: 60px;
  width: 4px;
  height: 100vh;
  background-color: burlywood;
  z-index: auto; 
}
.top-line {
  position: absolute;
  top: 1.5cm;
  left: 60px; /* Align with vertical line */
  width: calc(100% - 60px);
  height: 4px;
  background-color: burlywood;
  z-index: -1;
}